.hello {
  text-align: center;
}
.list {
  list-style: none;
}
.logo {
  margin: 0 auto;
  display: block;
  width: 252px;
  height: 252px;
  background: url('../../public/images/icon-kytLogo_large-252x252.svg');
}
